@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SurveyApp</h1>
    <p class="lead">Application to create and execute surveys</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
       <p>Use the links or the menu bar to navigate</p>
       
    </div>
    <div class="col-md-4">
        <h2>Links</h2>
        <p> @Html.ActionLink("Go to Questions", "index", "Question")</p>
        <p> @Html.ActionLink("Go to QuestionGroups", "index", "QuestionGroups")</p> 
        <p>@Html.ActionLink("Go to Survey", "index", "Survey")</p> 
    </div>
    
</div>