@using System.Runtime.InteropServices
@using SurveySystem.Models;

@model SurveySystem.ViewModels.SurveyShowVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

foreach (var item in Model.QuestionGroupShowVM.CurrentQuestionGroup.Questions)
{
    <p>@Html.DisplayFor(modelItem => item.QuestionString)</p>
    <p>@Html.EditorFor(modelItem=>item.Answer)</p>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Next" name="Next" class="btn btn-default" />
    </div>
</div>
}


