@using System.Runtime.InteropServices
@using SurveySystem.Models;

@model SurveySystem.ViewModels.SurveyShowVM

@{
    ViewBag.Title = "Survey";
}

<h2>Survey</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Survey.Title)</h4>
    <hr/>
    @Html.Partial("QuestionGroupsView")
</div>
<p>
    
</p>
