@model SurveySystem.ViewModels.SurveyResultVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.Surveys)
        </th>
    </tr>

@foreach (var item in Model.Surveys) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Check results", "Results", new{item.Id}) |
            
        </td>
    </tr>
}

</table>
