@model SurveySystem.ViewModels.SurveyResultStatisticsVM
@{
    ViewBag.Title = "Results";
}


<h4>Results</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model=> model.SurveyQuestions)
    </dt>

  

</dl>

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

